.header, .footer {

    height: 100%px;
    font-size: 5rem;
    text-align: center;
}

form {
    display: flex;
}

.profil-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2rem;

    &__main-title {
        font-size: 2rem;
        margin-bottom: 2.5rem;
        color: #707070;
        background: none;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    
    &__content-elt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;
    }

    &__content-elt:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__content-elt__infos {
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 2rem;
    }

    &__content-elt__content {
        text-align: right;
    }

    &__content-elt__change-phone-number {
        width: 200px;
    }

    &__content-elt__change-email {
        width: 250px;
    }
}

.hidden {
    display: none;
}