.homepage {
  width: 100%;
  background: rgb(137, 203, 219);
  background: #CDD0D4;

  /*----------------------------------------------------------------
                  STYLE COMMUN
  -----------------------------------------------------------------*/
  .chip {
    width: 40px;
  }
  .scroll-btn {
    margin-top: 2rem;
    height: 2.5rem;
    cursor: pointer;
    animation: mover 1s infinite  alternate;
    position: absolute;
    left: calc(50% - 1.5rem);
    bottom: 30px;

  }
  

  /*----------------------------------------------------------------
                  HEADER
  -----------------------------------------------------------------*/

  .header {
    width: 100%;
    min-height: 100vh;
    background: url('src/assets/img/header-bg.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    .logo {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      &__img {
        width: 50px;
      }
      &__name {
        font-size: 1.8rem;
        font-weight: bold;
        margin-left: 20px;
        color: black;
        letter-spacing: 1px;
      }
    }
    &__navigation {
      .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;

        &__link {
          color: #000;
          margin: 0 20px 0 20px;
          font-size: 1.2rem;
          position: relative;
        }

        &__link:hover {
          text-decoration: none;
        }

        &__link--connexion {
          display: none;
        }

        &__link::before {
          position: absolute;
          top: 25px;
          left: 50%;
          border-radius: 5px;
          content: '';
          width: 0;
          height: 3px;
          background-color: #0368A3;
          transition: all 0.3s;
        }

        &__link:hover::before {
          display: inline-block;
          width: 100%;
          left: 0;
        }

        &__login {
          margin-left: auto;
          position: absolute
        }
      }
    }
    &__title {
      text-align: center;
      max-width: 500px;
      min-width: 250px;
      color: #000;
      text-shadow: 3px 2px 2px rgba($color: #d3d3d3, $alpha: 0.3);
      font-size: 4rem;
      margin-right: auto;
      margin-left: auto;
      margin-top: 250px;
      margin-bottom: 40px;
    }


    &__hamburger {
      border: none;
      background-color: transparent;
      transition: all 0.2s;
      display: none;
    }

    &__hamburger:hover {
      transform: scale(1.2);
    }
  }

  .header__login-btn {
    position: absolute;
    right: 30px;
    top: 20px
  }

  /*----------------------------------------------------------------
                 SECTION GOAL
-----------------------------------------------------------------*/

  .goal {
    width: 100%;
    min-height: 100vh;
    color: black;
    display: flex;
    position: relative;
    flex-direction: column;
    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      &--chip {
      }
      // style répétitif
      &--title {
        color: black;
        height: 10%;
        font-size: 2rem;
        font-weight: bold;
        margin: 2.5rem 0;
      }
    }

    &__content {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transition: .6s ease-in-out;

      &-hide {
       
          transform: translateY(300px);
          opacity: 0;
          transition: .6s ease-in-out ;
    
     
      }

      &--text {
        font-size: 1.5rem;
        line-height: 1.2;
        max-width: 400px;
        min-width: 200px;
        text-align: center;
        flex: none;
        margin-right: 2.5rem;
      }

      &--img {
        border-radius: 20px;
        margin-left: 30px;
        width: 600px;
        height: 400px;
        background: url('src/assets/img/illustration-home-page.jpeg') center;
        background-size: cover;
      }
    }
  }

  /*----------------------------------------------------------------
                 SECTION WHY
-----------------------------------------------------------------*/

  .why {
    width: 100%;
    min-height: 100vh;
    position: relative;

    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2.5rem
      &--chip {
      }
      &--title {
        color: black;
        font-size: 2rem;
        font-weight: 700;
        margin-left: 20px;
        margin: 2.5rem 0;
      }
    }

    &__content {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      opacity: 1;
        transition: .6s ease-in-out ;
      &__hide {
        transform: translateY(300px);
        opacity: 0;
        transition: .6s ease-in-out ;
      }
      &--card {
        text-align: center;
        padding: 20px;
        width: 250px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        border-radius: 20px;
        margin: 24px;
        background-color: white;
        transition: transform ease-in-out 0.2s;

        &-img {
          width: 100px;
        }
        &-text {
          margin-top: 30px;
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
      &--card:hover {
        transform: scale(.98);
      }
    }
  }

  .services {
    width: 100%;
    min-height: 100vh;
    .services__header {
      display: flex;
      justify-content: center;
      align-items: center;
      &--title {
        color: black;
        font-size: 2rem;
        font-weight: 700;
        margin-left: 20px;
        margin: 2.5rem 0;
      }
    }
    .services__content {
      .content-top {
        margin-top: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        opacity: 1;
        transition: .6s ease-in-out ;
        &__right {
          transform: translateX(500px);
          opacity: 0;
          transition: .6s ease-in-out ;
        }
        &__text {
          width: 200px;
          color: black;
          font-size: 1.3rem;
          margin: 30px 100px;
        }

        &__img {
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          width: 350px;
          height: 250px;
          background-color: white;
          text-shadow: 3px 0 5px rgba($color: #000000, $alpha: 0.3);
          border-radius: 10px;
          margin: 30px 100px;
        }
      }
      .content-bottom {
        margin-top: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        opacity: 1;
        transition: .6s ease-in-out ;
        &__left {
          transform: translateX(-150px);
          opacity: 0;
          transition: .6s ease-in-out ;
        }
        &__img {
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          width: 350px;
          height: 250px;
          background-color: white;
          border-radius: 10px;
          margin: 30px 100px;
          opacity: 1;
          transition: .6s ease-in-out ;
          &__right {
            transform: translateX(150px);
            opacity: 0;
            transition: .6s ease-in-out ;
          }
        }
        &__text {
          width: 200px;
          color: black;
          font-size: 1.3rem;
          margin: 30px 100px;
        }
      }
    }
  }

  /*----------------------------------------------------------------
                  MEDIA QUERRIES
-----------------------------------------------------------------*/

  @media screen and (max-width: 950px) {
    //HEADER
    .navbar {
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgb(137, 203, 219);
      background: linear-gradient(
        287deg,
        rgba(137, 203, 219, 1) 35%,
        rgba(50, 142, 183, 1) 100%
      );
      z-index: 10;
      position: fixed;
      transform: translate(-2000px);

      &__link {
        margin: 40px 0 !important;
      }

      &__link--connexion {
        display: block !important;
      }
    }
    .header__title {
      font-size: 2rem;
    }

    .isActive {
      transform: translate(0) !important;
    }
    .header__hamburger {
      display: block;
      position: absolute;
      z-index: 30;
      top: 20px;
      right: 20px;
    }

    //SECTION GOAL
    .goal__content {
      margin-top: 0;
      flex-wrap: wrap;
    }
    .goal__content--text {
      margin: 50px 0;
    }
    // SECTION SERVICES

    .content-top__img {
      margin: 30px 0;
    }

    .content-bottom {
      flex-direction: column-reverse;
      margin-top: 30px !important;
      &__img {
        margin: 30px 0px !important;
      }
      &__text {
        margin: 30px 30px;
      }
    }
  }
}

.homepage--fixed {
  position: fixed;
}

  /*----------------------------------------------------------------
                  ANNIMATIONS
-----------------------------------------------------------------*/

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 30%;
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 25%;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 5vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: .5vmin solid white;
  top: 0;
}
.animated-title > div.text-top div {
  text-align: center;
  animation: showTopText .8s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #000000;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.4s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.scroll-top-btn {

  position: fixed;
  bottom: 30px;
  height: 3rem;
  right: 30px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all .5s ease;
  cursor: pointer;

}

.showBtn {
  position: fixed;
  bottom: 30px;
  height: 3rem;
  right: 30px;
  z-index: 100;
  opacity: 1;
  transform: translateY(0);
  transition: all .5s ease;
}


  /*----------------------------------------------------------------
                  PARALAX
-----------------------------------------------------------------*/
