.homepage {
  width: 100%;
  background: rgb(137, 203, 219);
  background: linear-gradient(
    280deg,
    rgba(137, 203, 219, 1) 35%,
    rgba(50, 142, 183, 1) 100%
  );

  /*----------------------------------------------------------------
                  STYLE COMMUN
  -----------------------------------------------------------------*/
  .chip {
    width: 40px;
  }

  /*----------------------------------------------------------------
                 HEADER
  -----------------------------------------------------------------*/

  .header {
    width: 100%;
    min-height: 80vh;
    padding: 10px;
    background: url('src/assets/img/hero-banner.png') center center no-repeat;
    background-size: cover;
    text-align: center;
    .logo {
      position: absolute;

      display: flex;
      align-items: center;
      &__img {
        width: 50px;
      }
      &__name {
        font-size: 1.8rem;
        font-weight: bold;
        margin-left: 20px;
      }
    }
    &__navigation {
      .navbar {
        display: flex;
        justify-content: center;
        align-items: center;

        &__link {
          color: #fff;
          margin: 0 20px 0 20px;
          font-size: 1.2rem;
          position: relative;
        }

        &__link--connexion {
          display: none;
        }

        &__link::before {
          position: absolute;
          top: 25px;
          left: 50%;
          border-radius: 5px;
          content: '';
          width: 0;
          height: 5px;
          background-color: #fff;
          transition: all 0.3s;
        }

        &__link:hover::before {
          display: inline-block;
          width: 100%;
          left: 0;
        }

        &__login {
          margin-left: auto;
        }
      }
    }
    &__title {
      text-align: center;
      max-width: 500px;
      min-width: 250px;
      color: #fff;
      text-shadow: 3px 0 5px rgba($color: #000000, $alpha: 0.3);
      font-size: 4rem;
      margin-right: auto;
      margin-left: auto;
      margin-top: 350px;
      margin-bottom: 40px;
    }

    &__hamburger {
      border: none;
      background-color: transparent;
      transition: all 0.2s;
      display: none;
    }

    &__hamburger:hover {
      transform: scale(1.2);
    }
  }

  /*----------------------------------------------------------------
                 SECTION GOAL
-----------------------------------------------------------------*/

  .goal {
    width: 100%;
    min-height: 80vh;
    padding: 10px;
    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      &--chip {
      }
      // style répétitif
      &--title {
        color: #fff;
        text-shadow: 3px 0 5px rgba($color: #000000, $alpha: 0.3);
        font-size: 2.5rem;
        font-weight: 700;
        margin-left: 20px;
      }
    }

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-top: 200px;
      &--text {
        color: #fff;
        font-size: 2rem;
        text-shadow: 3px 0 5px rgba($color: #000000, $alpha: 0.3);
        font-weight: 700;
        line-height: 1.2;
        max-width: 400px;
        min-width: 200px;
        text-align: center;
        flex: none;
      }

      &--img {
        border-radius: 20px;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
        margin-left: 30px;
        width: 600px;
        height: 400px;
        background: url('src/assets/img/pills.webp') center center;
        background-size: cover;
      }
    }
  }

  /*----------------------------------------------------------------
                 SECTION WHY
-----------------------------------------------------------------*/

  .why {
    width: 100%;
    min-height: 80vh;
    padding: 20px;

    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      &--chip {
      }
      &--title {
        color: #fff;
        text-shadow: 3px 0 5px rgba($color: #000000, $alpha: 0.3);
        font-size: 2.5rem;
        font-weight: 700;
        margin-left: 20px;
      }
    }

    &__content {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      &--card {
        text-align: center;
        padding: 20px;
        width: 250px;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
        border-radius: 20px;
        margin: 24px;
        transition: all 0.3s;

        &-img {
          width: 100px;
        }
        &-text {
          margin-top: 30px;
          font-size: 1.3rem;
          font-weight: 400;
        }
      }
      &--card:hover {
        transform: scale(1.2);
      }
    }
  }

  .services {
    width: 100%;
    min-height: 80vh;
    padding: 20px;
    .services__header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      &--title {
        color: #fff;
        text-shadow: 3px 0 5px rgba($color: #000000, $alpha: 0.3);
        font-size: 2.5rem;
        font-weight: 700;
        margin-left: 20px;
      }
    }
    .services__content {
      .content-top {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        &__text {
          width: 200px;
          color: #fff;
          font-size: 1.3rem;
          margin: 30px 100px;
        }

        &__img {
          box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
          width: 300px;
          height: 200px;
          background-color: blanchedalmond;
          text-shadow: 3px 0 5px rgba($color: #000000, $alpha: 0.3);
          border-radius: 10px;
          margin: 30px 100px;
        }
      }
      .content-bottom {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        &__img {
          box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
          width: 300px;
          height: 200px;
          background-color: blanchedalmond;
          border-radius: 10px;
          margin: 30px 100px;
        }
        &__text {
          width: 200px;
          color: #fff;
          font-size: 1.3rem;
          margin: 30px 100px;
        }
      }
    }
  }

  /*----------------------------------------------------------------
                  MEDIA QUERRIES
-----------------------------------------------------------------*/

  @media screen and (max-width: 950px) {
    //HEADER
    .navbar {
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgb(137, 203, 219);
      background: linear-gradient(
        287deg,
        rgba(137, 203, 219, 1) 35%,
        rgba(50, 142, 183, 1) 100%
      );
      z-index: 10;
      position: fixed;
      transform: translate(-2000px);

      &__link {
        margin: 40px 0 !important;
      }

      &__link--connexion {
        display: block !important;
      }
    }

    .isActive {
      transform: translate(0) !important;
    }
    .header__hamburger {
      display: block;
      position: absolute;
      z-index: 30;
      top: 20px;
      right: 20px;
    }

    //SECTION GOAL
    .goal__content {
      margin-top: 0;
      flex-wrap: wrap;
    }
    .goal__content--text {
      margin: 50px 0;
    }
    // SECTION SERVICES

    .content-top__img {
      margin: 30px 0;
    }

    .content-bottom {
      flex-direction: column-reverse;
      margin-top: 30px !important;
      &__img {
        margin: 30px 0px !important;
      }
      &__text {
        margin: 30px 30px;
      }
    }
  }
}

.homepage--fixed {
  position: fixed;
}
