.main-box {

    &__main-title {
        font-size: 1.5rem;
        background: none;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        background-color: #499DBF;
        padding: 1rem;
        border-radius: 15px;
    }
}
