h1 {
border-radius: 10px;
border-color: grey;
background-color: #303F9F;
padding: 10px;
width: 35%;
text-align: center;
margin-left: auto;
margin-right: auto;
position: absolute;
}

.lambert {
text-shadow: white 0px 0px 2px;
font-size: 16px;
background-size: 150px;
}

.geoffrey {
text-shadow: white 0px 0px 2px;
font-size: 16px;
background-size: 150px;
}

.françois {
text-shadow: white 0px 0px 2px;
font-size: 16px;
background-size: 150px;
}

.bahri {
text-shadow: white 0px 0px 2px;
font-size: 16px;
background-size: 150px;
}

.zachary {
text-shadow: white 0px 0px 2px;
font-size: 16px;
background-size: 150px;
}

.cardmedia {
columns: 3;
margin-top: 90px;
height: 400px;
block-size: auto;
writing-mode: horizontal-tb;
width: 40%;
border-radius: 20px;
}

.cardmedia2 {
columns: 2;
margin-top: 30px;
height: 80px;
block-size: auto;
writing-mode: horizontal-tb;
width: 26%;
border-radius: 20px;
}

.contact-us {
border-radius: 10px;
border-color: grey;
background-color: #303F9F;
padding: 10px;
width: 35%;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
}

.sendmail {
padding: 30px;
margin-top: 2em;
margin-left: auto;
margin-right: auto;
}

label {
 display:block;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, button, textarea, option {
 background-color:white;
 }
input, button, textarea {
 padding:3px;
 margin: 10px;
 border:1px solid #303F9F;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px white inset;
 }
button[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
button[type=submit], button[type=reset] {
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px #303F9F;
 cursor:pointer;
 }

.nom-email {
flex-wrap: wrap;
}