.login {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 3em;
    font-size: 1.5em;
    display: inline;
}

.subscribe {
    padding: 1em;
    font-size: 10px;
  background-color: transparent;
 }
  

.myButton {
  margin-top: 30px;
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:absolute;
	top:1px;
}

h3 {
border-radius: 10px;
border-color: grey;
background-color: #303F9F;
margin: 1em;
padding: 10px;
width: 35%;
text-align: center;
margin-left: auto;
margin-right: auto;
display: block;
}


.MuiFormControl-root {
  border: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}

.MuiFormControl-marginNormal {
  margin-top: 16px;
  margin-bottom: 8px;
}
.MuiFormControl-marginDense {
  margin-top: 8px;
  margin-bottom: 4px;
}
.MuiFormControl-fullWidth {
  width: 100%;
}

h2 {
margin-top: 10px;
margin-bottom: 10px;
}

.MuiAccordion-rounded {
background-color: #C6C6C6;
}