.left-menu {

    &__avatar {
        margin: 1.5rem 0 2.5rem 0;
        box-shadow: 2px 2px 4px rgb(126, 126, 126);
    }

    &__welcome-message {
        text-shadow: 1px 1px 1px rgb(126, 126, 126);
    }
}

.btn-box {
    
    &__btn:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__btn:first-child {
        margin-top: 1.5rem;
    }
}

.active * {
    font-weight: bold;
}